body {
 background-image:url("pic/back.png"),url("pic/back2.png");
 background-color: #cccccc;
 background-repeat: no-repeat, repeat;
 background-size: 100% auto;
}

#logo {
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
}

#description {
  color: white;
  text-align: center;
  position: relative;
  top: -75px;
  font-size: 12px;
}

#titlePic {
  width: 100%;
  margin-top: 20px;
}

.videoBox {
  margin-top: -20px;
  width: 100%;
}
.video {
    margin-top: -315px;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.numbers {
  color: white;
  font-size:11px;
}

.numbers heavy {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-style: bold;
  font-size: 18px;
}

.exposure {
  margin-top: 50px;
  margin-left: 50px;
}

.thumbsup {
  text-align: center;
  margin-top: -33px;
}

.repost {
  margin-top: -33px;
  margin-left: 283px;
}

.secondDiv {
  margin-top: 70px;
}

h1 {
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top:100px;
}

h2 {
  color: white;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
}

h3 {
  color: white;
}

#wechat {
  width: 25px;
}

#phone {
  width:17px;
}

